
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;1,500;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*custom tailwind css classes*/
@layer components{

    .forecast-card{
      @apply bg-neutral-900/50 aspect-video rounded-md;
    }

    .show{
      @apply flex flex-col gap-3 items-center;
    }

    .day{
      @apply bg-gradient-to-b from-blue-300 via-blue-400 to-blue-500 text-black;
    }

    .night{
      @apply bg-gradient-to-b from-blue-900 via-blue-950 to-black text-white;
    }

    .neutral{
      @apply bg-gradient-to-b from-gray-400 via-gray-500 to-gray-600;
    }

    .measure-wrapper{
      @apply flex items-baseline justify-start gap-2 text-xs md:text-base lg:text-xl p-1 md:p-2;
    }

    .input-field{
      @apply text-white text-center rounded-full border-none bg-neutral-800/75 focus:bg-neutral-900/75 focus:outline-none;
    }

    .footer-info{
      @apply text-gray-400 gap-2 flex items-baseline;
    }

    .element-list{
      @apply bg-neutral-800/50 text-center p-2 hover:bg-neutral-900/75;
    }

    .fav-mark{
      @apply after:content-['Marcar_como_favorito'] after:text-sm after:hidden hover:after:block after:absolute  after:md:whitespace-pre after:top-0 after:text-black;
    }

  }



  @layer base{
    h1{
      @apply text-4xl;
      @apply font-bold;
    }
    h2{
      @apply text-3xl;
      @apply font-bold;
    }
    h3{
      @apply text-xl;
      @apply font-bold;
    }
    h4{
      @apply text-lg;
      @apply font-bold;
    }
    body{
      @apply font-normal;
    }

    body * {
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }
  }

  /*customizar material icons*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-56 {font-size: 56px;}

/*customizar material symbols*/
span.size-48 {
  font-size: 48px;
  font-variation-settings: 'OPSZ' 48;
}
